* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  background: #eee;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.cv {
  width: 700px;
  background: white;
}

/* HEADER */
.top-header {
  background: #7a5237;
  color: white;
  padding: 30px 80px 50px;
  direction: rtl;
    position: relative; 
    
 
}

.name .prenom {
  font-size: 32px;
  font-weight: 300;
  top: 20px;   
    right: 15px;
    
}

.name .nom {
  display: block;
  font-size: 42px;
  font-weight: 700;
   top: 50px;   
   right: 15px;
}

.job {
  margin-top: 10px;
  font-size: 22px;
   top: 20px;   
    left: 15px;
}

/* BODY */
.body {
  display: flex;
}

.space {
  width: 5%;
  background-color: #fff;
}

/* LEFT COLUMN */
.left {
  width: 38%;
  background: #e6e6e6;
  /* padding: 20px; */
  position: relative;
  section {
    padding: 0 10px;
  }
}

/* Arche photo */
.photo-arch {
  background: #e6e6e6;
  height: 260px;
  border-radius: 160px 160px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -190px;
}

.photo-arch img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 6px  #7a5237;
  object-fit: cover;
}

.left h3 {
  color: #7a5237;
  margin: 25px 0 10px;
  font-size: 16px;
}

.left p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* RIGHT COLUMN */
.right {
  width: 65%;
  padding: 30px;
}

.right h3 {
  color: #7a5237;
  margin-bottom: 10px;
  font-size: 18px;
}

.right p {
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 1.6;
}

i {
  margin-right: 8px;
  color: #7a5237;
}



@media (max-width: 992px) {

  .cv {
    width: 100%;
  }

  .top-header {
    padding: 30px 40px 60px;
  }

  .left {
    width: 35%;
  }

  .right {
    width: 65%;
    padding: 25px;
  }
}


@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .cv {
    width: 100%;
  }

  /* HEADER */
  .top-header {
    direction: ltr;
    text-align: center;
    padding: 25px 20px 80px;
  }

  .name .prenom {
    font-size: 26px;
  }

  .name .nom {
    font-size: 34px;
  }

  .job {
    font-size: 18px;
  }

  /* BODY */
  .body {
    flex-direction: column;
  }

  .space {
    display: none;
  }

  /* LEFT COLUMN */
  .left {
    width: 100%;
    border-radius: 20px;
    margin: -60px 10px 20px;
    padding-bottom: 20px;
  }

  /* PHOTO */
  .photo-arch {
    margin-top: -150px;
    height: 220px;
    border-radius: 140px 140px 0 0;
  }

  .photo-arch img {
    width: 180px;
    height: 180px;
  }

  /* RIGHT COLUMN */
  .right {
    width: 100%;
    padding: 20px;
  }

  .right h3 {
    font-size: 16px;
  }

  .right p {
    font-size: 14px;
  }
}


@media (max-width: 480px) {

  .name .prenom {
    font-size: 22px;
  }

  .name .nom {
    font-size: 30px;
  }

  .job {
    font-size: 16px;
  }

  .left h3,
  .right h3 {
    font-size: 15px;
  }

  .left p,
  .right p {
    font-size: 13px;
  }
}