body{
    border: 15px double black;
    width: 400mm;
    height: 500mm;
    padding: 50px;
}


.bare{
    background-color: #50392B;
    width: 1414px;
    height: 322PX;
}
.icon{
    background-color: #D9D9D9;
    width: 294px;
    height: 303px;
    position: absolute;
    top: 258px;
    left: 104px;
    border-radius: 49px;
}
.icon > img{
    margin-top: 55px;
    margin-left: 30px;
    width: 250px;
    border-radius: 100%;
}
.Name{
    color: white;
    font-size: 40px;
    position: relative;
    left: 500px;
    top: 110px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
}
.titre{
    color: white;
    font-size: px;
    position: relative;
    left: 600px;
    top: 110px;
    width: 800px;
}


.partie1{
    display: flex;
}



.competence{
    width: 338px;
    height: 1239px;
    position: relative;
    top: 258px;
    border-radius: 48px;
}

h2{
    border-bottom: 2px solid #321D10;
    color: #321D10;

}

.competence > h2{

    color: #321D10;
}


.edu, .comp, .qual, .cont{
    margin-bottom: 100px;
}

#I1{
    filter: invert(100%);
     width: 62px;
     position: absolute;
     left: -50px;
     top: 1070px;

}

#I2{
     width: 32px;
     position: absolute;
     left: -35px;
     top: 1126px;

}

#I3{
     width: 32px;
     position: absolute;
     left: -35px;
     top: 1150px;

}


li{
    margin: 30PX 0px;
    color: #321D10;
    font-size: 16px;
}




.experience{
    background-color: #321D10;
    width: 943px;
    height: 1239px;
    position: relative;
    top: 88px;
    left: 148px;
    border-radius: 48px;
}

.T1 , .T2{
    color: white;
    font-size: 40px;
    position: relative;
    left: 100px;
    top: 50px;
    width: 800px;
     border-bottom: 2px solid #ffffff;
}



.P1{
    color: white;
    font-size: 28px;
    position: relative;
    left: 100px;
    top: 50px;
    width: 800px;
}

.Ta , .Tb,.Tc{
    color: white;
    font-size: 28px;
    position: relative;
    left: 100px;
    top: 50px;
    margin-bottom: 160px;
    width: 800px;
}




#circle1{
width: 40px;
height: 40px;
background-color:#321D10;
position: absolute;
border: 1px solid white;
left: 27px;
top: 90px;
border-radius: 50%;
}

#circle1 > img{
    width: 22px;
    position: absolute;
    left: 9px;
    top: 10px;
    filter: invert(100%);
}

#vertical-line1{
width: 3px;
height: 130px;
background-color: rgb(255, 255, 255);
position: absolute;
left: 45px;
top: 130px;
}




#circle2{
width: 40px;
height: 40px;
background-color:#321D10;
position: absolute;
border: 1px solid white;
left: 27px;
top: 300px;
border-radius: 50%;
}

#circle2 > img{
    width: 22px;
    position: absolute;
    left: 9px;
    top: 10px;
    filter: invert(100%);
}





#tip1{
width: 6px;
height: 6px;
background-color:#321D10;
position: absolute;
border: 1px solid rgb(0, 0, 0);
left: 43px;
top: 392px;
border-radius: 50%;
}







#vertical-line2{
width: 3px;
height: 180px;
background-color: rgb(255, 255, 255);
position: absolute;
left: 45px;
top: 400px;
}






#tip2{
width: 6px;
height: 6px;
background-color:#321D10;
position: absolute;
border: 1px solid rgb(0, 0, 0);
left: 43px;
top: 717px;
border-radius: 50%;
}







#vertical-line3{
width: 3px;
height: 180px;
background-color: rgb(255, 255, 255);
position: absolute;
left: 45px;
top: 725px;
}




#tip3{
width: 6px;
height: 6px;
background-color:#321D10;
position: absolute;
border: 1px solid rgb(0, 0, 0);
left: 43px;
top: 1042px;
border-radius: 50%;
}







#vertical-line4{
width: 3px;
height: 130px;
background-color: rgb(255, 255, 255);
position: absolute;
left: 45px;
top: 1050px;
}



#Bouton{
    background-color: #321D10;
    color: white;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 1200px;
    top: 1850px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
#Bouton:hover{
    background-color: #D9D9D9;
    cursor: pointer;
    color: black;
    letter-spacing: 6px;
    transition: all 1s linear;
    width: 280px;
    border: #321D10 2px solid;
}

a{
    text-decoration: none;
}


#Bouton-R{
    background-color: #141211;
    color: white;
    width: 200px;
    height: 50px;
    position: absolute;
    left: 700px;
    top: 1850px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}






















